footer.footer
  .footer-container
    .footer-section
      h3 Discover
      ul
        li: a(href="#") Development
        li: a(href="#") Press
        li: a(href="#") Partnerships
        li: a(href="#") Careers
        li: a(href="#") Brochures
        li: a(href="#") Rocco Forte Friends

    .footer-section
      h3 Finer Details
      ul
        li: a(href="#") Travel Trade
        li: a(href="#") Sitemap
        li: a(href="#") Privacy Policy

    .footer-section
      h3 Follow Us
      ul
        li: a(href="#") Facebook
        li: a(href="#") Twitter
        li: a(href="#") Instagram
        li: a(href="#") YouTube
        li: a(href="#") LinkedIn

    .footer-section
      h3 Contact
      p Villas to Buy Team
      p +44 (0)20 7321 2626
      p 70 Jermyn Street, London, SW1Y 6NY, UK

  .footer-bottom
    p Copyright © 2020 All Rights Reserved.
